Source: slimbookamdcontroller
Section: utils
Priority: extra
Maintainer: slimbook <dev@slimbook.es>
Build-Depends: debhelper-compat (= 13), dh-python
Standards-Version: 4.6.0
Homepage: https://github.com/Slimbook-Team/slimbookamdcontroller
Rules-Requires-Root: no
 
Package: slimbookamdcontroller
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, python3, python3-gi, python3-matplotlib,
 libnotify-bin, gir1.2-ayatanaappindicator3-0.1, ryzenadj
Description: Application for managing the performance of amd processors
 Application for managing the performance of amd processors

