Source: slimbookamdcontroller
Section: utils
Priority: extra
Maintainer: slimbook <dev@slimbook.es>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://slimbook.es
 
Package: slimbookamdcontroller
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
     python3,
     python3-gi,
     python3-pip,
     python3-pil,
     python3-dbus,
     python3-numpy,
     python3-matplotlib,
     git,
     build-essential,
     libnotify-bin,
     cmake,
     cmake-data,
     gir1.2-ayatanaappindicator3-0.1,
     libcurl4,
     mokutil
Description: Aplicacion para la gestion de rendimiento de procesadores amd
 Aplicacion para la gestion de rendimiento de procesadores amd
