/* @font-face {
    font-family: Oswald;
    src: url(Oswal-Regular.ttf);
}
 */

/*radio:checked {
    -gtk-icon-source: url("../img/pngwing.com.png");
}*/

/* CLASSES */


/* *{
    border-width: 1px;
    border-color: red;
    border-style: solid;
} */



radiobutton {
    color: white;
    padding-top: 15px;
    padding-bottom: 25px;
    
}

#buttons {
    margin-bottom: 15px;
}

#buttons label {
    color: black;
}


#info {
    margin-right: 60px;
    margin-left: 60px;

}

#top {
    padding-top: 10px;
}

#invisible {
    opacity: 0;
}

#label, label, dialog label, label:visited, link {
    color: rgb(255, 255, 255);   
}

/* dialog>box{
    margin: 20px;
    
} */

/* Classes */

notebook header, notebook, stack, list{
    border-width: 0px;
    background-color: transparent;
}


stack {
    margin-top: 15px;
}

.help{

    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}

/* list {
    color: black;
} */

.close{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
}

header > tabs > tab{
    background-color: rgb(148, 24, 24);
}

header > tabs > tab:hover, header > tabs > tab:checked{
    background-color: rgb(100, 21, 21);

}

.cambModos {
 
    margin: 20px 0;
}
.cambModos2{
    color: rgb(224,28,52);
    font-family: monospace;
    font-size: xx-large;
    font-weight: bolder;
    margin: 20px 0;
}

.bg-color {
    background-repeat: no-repeat;
    background-color: #111111;
}

.bg-image {
    /* background-image: url('../images/bg4.png');
    background-repeat: no-repeat; */
    background-size: auto;
    background-color: #111111;
}

